{% extends 'base.html' %}

{% block content %}
	<section>
			<div class="box">
				<h2>Hey guys, you can contact me on my social media bellow :</h2>
						<div class="box"><img src="{% static 'story_4/instagram.jpg' %}"></div>
						<div class="box"><img src="{% static 'story_4/twitter.jpg' %}"></div>
				</div>
	</section>
{% endblock %}