{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section>
			<div class="box">
				<img src="{% static 'story_4/profil.jpg' %}" alt="" class="box-img">
				<h3>Hello I'm Wasi </h3>
				<h3>Glad To See You Here!</h3>
			</div>
	</section>
{% endblock %}	